In [1]:
import glob
import os

import pandas as pd

In [2]:
file_list = glob.glob(os.path.join(os.getcwd(), r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\!Semesters\1st Sem\Courses\CS 418 Intro to Data Science\!C\Ensemble Methods\Ensemble Classifiers\Boosting\AdaBoosting\Project\News Articles\bbc-fulltext\bbc\business/", "*.txt"))

#all_files = os.listdir(r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\Data Science\Project\News Articles\bbc-fulltext\bbc\business/")   # imagine you're one directory above test dir
corpus = []

for file_path in file_list:
    with open(file_path) as f_input:
        corpus.append(f_input.read())



data1 = pd.DataFrame(data = corpus, columns = ["Doc Name"])
#data = data.reset_index()
data1["Topic"] = "business"
data1.columns = ["Doc Text", "Topic"]
data1.head()

                                            Doc Text     Topic
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [3]:
file_list2 = glob.glob(os.path.join(os.getcwd(), r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\!Semesters\1st Sem\Courses\CS 418 Intro to Data Science\!C\Ensemble Methods\Ensemble Classifiers\Boosting\AdaBoosting\Project\News Articles\bbc-fulltext\bbc\entertainment/", "*.txt"))

#all_files = os.listdir(r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\Data Science\Project\News Articles\bbc-fulltext\bbc\business/")   # imagine you're one directory above test dir
corpus2 = []
for file_path in file_list2:
    with open(file_path) as f_input:
        corpus2.append(f_input.read())

data2 = pd.DataFrame(data = corpus2, columns = ["Doc Name"])
#data = data.reset_index()
data2["Topic"] = "entertainment"
data2.columns = ["Doc Text", "Topic"]
data2.head()

                                            Doc Text          Topic
0  Gallery unveils interactive tree\n\nA Christma...  entertainment
1  Jarre joins fairytale celebration\n\nFrench mu...  entertainment
2  Musical treatment for Capra film\n\nThe classi...  entertainment
3  Richard and Judy choose top books\n\nThe 10 au...  entertainment
4  Poppins musical gets flying start\n\nThe stage...  entertainment

In [4]:
file_list3 = glob.glob(os.path.join(os.getcwd(), r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\!Semesters\1st Sem\Courses\CS 418 Intro to Data Science\!C\Ensemble Methods\Ensemble Classifiers\Boosting\AdaBoosting\Project\News Articles\bbc-fulltext\bbc\politics/", "*.txt"))

#all_files = os.listdir(r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\Data Science\Project\News Articles\bbc-fulltext\bbc\business/")   # imagine you're one directory above test dir
corpus3 = []
for file_path in file_list3:
    with open(file_path) as f_input:
        corpus3.append(f_input.read())

data3 = pd.DataFrame(data = corpus3, columns = ["Doc Name"])
#data = data.reset_index()
data3["Topic"] = "politics"
data3.columns = ["Doc Text", "Topic"]
data3.head()

                                            Doc Text     Topic
0  Labour plans maternity pay rise\n\nMaternity p...  politics
1  Watchdog probes e-mail deletions\n\nThe inform...  politics
2  Hewitt decries 'career sexism'\n\nPlans to ext...  politics
3  Labour chooses Manchester\n\nThe Labour Party ...  politics
4  Brown ally rejects Budget spree\n\nChancellor ...  politics

In [5]:
file_list4 = glob.glob(os.path.join(os.getcwd(), r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\!Semesters\1st Sem\Courses\CS 418 Intro to Data Science\!C\Ensemble Methods\Ensemble Classifiers\Boosting\AdaBoosting\Project\News Articles\bbc-fulltext\bbc\sport/", "*.txt"))

#all_files = os.listdir(r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\Data Science\Project\News Articles\bbc-fulltext\bbc\business/")   # imagine you're one directory above test dir
corpus4 = []
for file_path in file_list4:
    with open(file_path) as f_input:
        corpus4.append(f_input.read())

data4 = pd.DataFrame(data = corpus4, columns = ["Doc Name"])
#data = data.reset_index()
data4["Topic"] = "sport"
data4.columns = ["Doc Text", "Topic"]
data4.head()

                                            Doc Text  Topic
0  Claxton hunting first major medal\n\nBritish h...  sport
1  O'Sullivan could run in Worlds\n\nSonia O'Sull...  sport
2  Greene sets sights on world title\n\nMaurice G...  sport
3  IAAF launches fight against drugs\n\nThe IAAF ...  sport
4  Dibaba breaks 5,000m world record\n\nEthiopia'...  sport

In [6]:
file_list5 = glob.glob(os.path.join(os.getcwd(), r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\!Semesters\1st Sem\Courses\CS 418 Intro to Data Science\!C\Ensemble Methods\Ensemble Classifiers\Boosting\AdaBoosting\Project\News Articles\bbc-fulltext\bbc\tech/", "*.txt"))

#all_files = os.listdir(r"C:\Users\kalya\OneDrive - University of Illinois at Chicago\!UIC\Data Science\Project\News Articles\bbc-fulltext\bbc\business/")   # imagine you're one directory above test dir
corpus5 = []
for file_path in file_list5:
    with open(file_path) as f_input:
        corpus5.append(f_input.read())

data5 = pd.DataFrame(data = corpus5, columns = ["Doc Name"])
#data = data.reset_index()
data5["Topic"] = "sport"
data5.columns = ["Doc Text", "Topic"]
data5.head()

                                            Doc Text  Topic
0  Ink helps drive democracy in Asia\n\nThe Kyrgy...  sport
1  China net cafe culture crackdown\n\nChinese au...  sport
2  Microsoft seeking spyware trojan\n\nMicrosoft ...  sport
3  Digital guru floats sub-$100 PC\n\nNicholas Ne...  sport
4  Technology gets the creative bug\n\nThe hi-tec...  sport

In [7]:
d = [data1, data2, data3, data4,data5]
data = pd.concat(d)
data.to_csv("News.csv")
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2225 entries, 0 to 400
Data columns (total 2 columns):
Doc Text    2225 non-null object
Topic       2225 non-null object
dtypes: object(2)
memory usage: 52.1+ KB

In [8]:
data["Doc Text"] = data["Doc Text"].str.replace('\n\n', ' ')
data["Doc Text"] = data["Doc Text"].str.replace('[^\w\s]','')
data["Doc Text"] = data["Doc Text"].str.replace('\s+[a-zA-Z]\s+','')
data["Doc Text"] = data["Doc Text"].str.replace('\s+',' ')
data.head()

                                            Doc Text     Topic
0  Ad sales boost Time Warner profit Quarterly pr...  business
1  Dollar gains on Greenspan speech The dollar ha...  business
2  Yukos unit buyer faces loan claim The owners o...  business
3  High fuel prices hit BAs profits British Airwa...  business
4  Pernod takeover talk lifts Domecq Shares in UK...  business

In [9]:
data["Doc Text"] = data["Doc Text"].str.lower()
data.head()

                                            Doc Text     Topic
0  ad sales boost time warner profit quarterly pr...  business
1  dollar gains on greenspan speech the dollar ha...  business
2  yukos unit buyer faces loan claim the owners o...  business
3  high fuel prices hit bas profits british airwa...  business
4  pernod takeover talk lifts domecq shares in uk...  business

In [10]:
# Install stopwords package
import nltk

nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kalya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
# Print list of stop words
stop_list = stopwords.words('english')
#print(stop_list)

# Remove stop words from text
data["Doc Text"] = data["Doc Text"].apply(lambda x: " ".join([word for word in x.split() if word not in stop_list]))
data.head()

                                            Doc Text     Topic
0  ad sales boost time warner profit quarterly pr...  business
1  dollar gains greenspan speech dollar hit highe...  business
2  yukos unit buyer faces loan claim owners embat...  business
3  high fuel prices hit bas profits british airwa...  business
4  pernod takeover talk lifts domecq shares uk dr...  business

In [12]:
st = PorterStemmer()
data["Doc Text"] = data["Doc Text"].apply(lambda x: " ".join([st.stem(y) for y in x.split()]))
#apply(lambda x: [stemmer.stem(y) for y in x])
data.head()

                                            Doc Text     Topic
0  ad sale boost time warner profit quarterli pro...  business
1  dollar gain greenspan speech dollar hit highes...  business
2  yuko unit buyer face loan claim owner embattl ...  business
3  high fuel price hit ba profit british airway b...  business
4  pernod takeov talk lift domecq share uk drink ...  business

In [13]:
#data['tokens'] = data["Doc Text"].apply(lambda x: x.split())
#data.head()

In [14]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [15]:
X = data.iloc[:, :1]
Y = data['Topic']

In [16]:
y = pd.DataFrame(data = LabelEncoder().fit_transform(Y), columns= ["Topic"])

In [17]:
X.head()

                                            Doc Text
0  ad sale boost time warner profit quarterli pro...
1  dollar gain greenspan speech dollar hit highes...
2  yuko unit buyer face loan claim owner embattl ...
3  high fuel price hit ba profit british airway b...
4  pernod takeov talk lift domecq share uk drink ...

In [18]:
y.head()

   Topic
0      0
1      0
2      0
3      0
4      0

In [19]:
y["Topic"].value_counts()

3    912
0    510
2    417
1    386
Name: Topic, dtype: int64

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(data["Doc Text"])
x1 = tfidf_matrix.toarray()

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1,y, test_size = 0.2, random_state = 100)

In [23]:
p =pd.DataFrame(data = x_train)
p.head()

,0,1,2,3,4,5,6,7,8,9,...,38990,38991,38992,38993,38994,38995,38996,38997,38998,38999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
x_train.shape

(1780, 39000)

In [25]:
# Random Forest

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
from hyperopt import hp, tpe, Trials, fmin
import numpy as np

In [ ]:
bc = GradientBoostingClassifier(n_estimators = 1000, max_leaf_nodes = 15, min_samples_leaf = 3, min_samples_split = 5)
bc.fit(x_train, y_train)

C:\Users\kalya\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:

y_pred = bc.predict(x_test)
# Compute confusion matrix
conf_matrix = metrics.confusion_matrix(y_test, y_pred)
print(conf_matrix)

# Plot confusion matrix
sns.heatmap(conf_matrix, annot = True, fmt = ".3f", square = True, cmap = plt.cm.Blues)
plt.ylabel('Actual')
plt.xlabel('Predicted')
plt.title('Confusion matrix')
plt.tight_layout()

# Compute evaluation metrics
print(metrics.accuracy_score(y_test, y_pred)) # accuracy
print(1 - metrics.accuracy_score(y_test, y_pred)) # error
print(metrics.precision_score(y_test, y_pred, average = None)) # precision
print(metrics.recall_score(y_test, y_pred, average = None)) # recall
print(metrics.f1_score(y_test, y_pred, average = None)) # F1 score

In [ ]:
def objective_func(args):
    n_estimators = args['n_estimators']
#    max_depth = args['max_depth']
    min_samples_split = args['min_samples_split']
#    criterion = args['criterion']
#    max_features = args['max_features']
    min_samples_leaf = args['min_samples_leaf']
    max_leaf_nodes = args['max_leaf_nodes']

 
    clf = GradientBoostingClassifier(n_estimators = n_estimators, max_leaf_nodes = max_leaf_nodes, min_samples_leaf=min_samples_leaf, min_samples_split=min_samples_split)
    
    
    clf.fit(x_train,y_train)    
    y_pred = clf.predict(x_test)
    f1 = -(f1_score(y_pred,y_test,  average='macro'))
    return f1
space = {'n_estimators': hp.choice('n_estimators', range(200, 1001)), 
#         'max_depth': hp.choice('max_depth', range(20,101)), 
#         'criterion': hp.choice('criterion',['gini', 'entropy']),
#         'max_features': hp.choice('max_features', ['auto', 'sqrt']),
        'min_samples_split': hp.choice('min_samples_split', range(2,11)),
         'min_samples_leaf' : hp.choice('min_samples_leaf',range(2,5))
        'max_leaf_nodes': hp.choice('max_leaf_nodes', range(8,33))}
                                
                                
                                
best_classifier = fmin(objective_func, space, algo=tpe.suggest, max_evals=50)
print(best_classifier)